body {
  padding-top: 70px;
  background-image: url("http://wallpapers4screen.com/Uploads/8-2-2016/28129/tropical-islands-beach-palm-trees-island-sand.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




